<!DOCTYPE html>
<html>
  <head>
    <title>Eogiri</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'hello_vue' %>
    <%= javascript_pack_tag 'hello_vue' %>
  </head>

  <body>
    <div id="app"></div>
  </body>
</html>
